/* Element Styles */
body {
    color: #777;
    background-color: #ececec;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav {
    width: 100%;
    height: 70px;
    line-height: 70px;
    font-size: .8rem;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    background-color: white;
    border-bottom: 2px solid #ccc;
}

.nav-bar {
    width: 75%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

nav h1 {
    height: 70px;
    padding: 0 1rem;
    font-size: 1.68rem;
    float: left;
    font-family: 'Pacifico', cursive;
    background-color: teal;
    color: white;
}

nav ul {
    list-style-type: none;
}

nav li {
    padding: 0 10px;
    position: relative;
    display: inline-block;
}

nav ul li:last-child {
    border: none;
}

nav a {
    text-decoration: none;
    color: #777;
}

nav a:hover {
    color: #E89F0C;
}

#content-container {
    width: 100%;
    margin-bottom: 6rem;
}

#content {
    width: 75%;
    max-width: 900px;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: 1px solid #ddd;
}

h2 {
    width: 90%;
    font-size: 1.5rem;
    padding: 1rem;
    padding-left: 3rem;
    color: teal;
}

hr {
    background-color: #777;
    width: 90%;
    height: 1px;
}

#text-body {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    /* font-size: 1rem; */
}

p {
    margin-top: 1.25rem;
    line-height: 1.25rem;
}

.profile-image {
    float: left;
    margin-right: 1.56rem;
    margin-bottom: 1.56rem;
}

.image-row {
    margin-top: 35px;
}

.image-container {
    width: 160px;
    height: 120px;
    margin-right: 25px;
    display: inline-block;
}

.image-container a {
    text-decoration: none;
}

.image-label {
    width: 100%;
    height: 35px;
    line-height: 35px;
    margin-top: -40px;
    position: relative;
    text-align: center;
    background-color: teal;
    color: white;
}

.image-label:hover {
    background-color: #E89F0C;
}

label {
    display: inline-block;
    padding-top: 10px;
}

input {
    width: 100%;
    height: 25px;
    margin-bottom: 5px;
}

textarea {
    width: 100%;
    height: 120px;
    resize: none;
    border-color: #ddd;
}

button {
    width: 75px;
    height: 25px;
    margin-top: 5px;
    padding: 0 5px;
    background-color: teal;
    color: white;
    cursor: pointer;
}

footer {
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    text-align: center;
    background-color: #666;
    color: white;
    border-top: 10px solid teal;
}

footer p {
    margin-top: 25px;
}

@media only screen and (max-width: 980px) {
    
    .nav-bar {
        width: 90%
    }

    #content {
        width: 90%;
    }
}

@media only screen and (max-width: 768px) {

    #content {
        width: 90%;
    }
}

@media only screen and (max-width: 640px) {

    nav {
        width: 100%;
        height: 120px;
    }
    .nav-bar {
        width: 100%;
        height: 35px;
    }

    nav h1 {
        width: 100%;
        text-align: center;
    }

    nav ul {
        width: 100%;
        line-height: 52px;
        text-align: center;
    }

    h2 {
        padding-left: 0;
    }

    #content {
        width: 95%;
    }

    .profile-image img {
        width: 100%;
    }
}